{% extends "base.html" %}
{% block remtitle %} Influencer Dashboard {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Influencer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/influencer/dashboard">Profile</a>
                <a class="nav-link" href="/influencer/campaigns">Campaign</a>

                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<section class="gradient-custom hcolor" style="min-height: 100vh;">
    <div class="container py-2 h-100">

        <h1>{{ campaign_name }}'s Ad Requests</h1>

        <div class="row">
            {% if ad_requests %}
            {% for ad_request in ad_requests %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card w-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Message: {{ ad_request.messages }}</h5>
                        <p class="card-text">Requirements: {{ ad_request.requirements }}</p>
                        <p class="card-text">Payment Amount: {{ ad_request.payment_amount }}</p>
                        <p class="card-text">Status: {{ ad_request.status_adreq }}</p>
                        {% if ad_request.created_by=="influencer" %}
                        <p class="card-text">Ad Requested by you </p>
                        {% else %}
                        <p class="card-text">Ad Requested by Sponsor</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No ad requests</p>
            {% endif %}
        </div>
        <a href="/influencer/send_ad_request/{{campaign_id}}" class="btn btn-primary mt-4">Send New Ad Request</a>
    </div>
</section>

{% endblock %}